extends layout

block content
  div.page-header
    h1.header #{details.key} Details
    a(href="https://jira.eloquacorp.com/browse/#{details.key}", rel='popover') Open in Jira
  div.row
    table.table.table-striped
      thead
        tr
          th Name
          th Value
      each field in details.fields
        tr
          td= field.name
          if typeof field.value === 'string'
            td= field.value
          else
            if field.value instanceof Array
              if field.value.length
                td= field.value[0].value
              else
                td None
            else
              if field.value && field.value.hasOwnProperty('value')
                td= field.value.value
              else
                if field.value && field.value.hasOwnProperty('name')
                  td= field.value.name
                else
                  td

